* {
  box-sizing: border-box;
}

body {
  direction: rtl;
  text-align: right;
  font-family: 'Tahoma', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

/* dark mode */
.dark-mode {
  position: relative;
  width: 60px;
  height: 35px;
  right: 37px;
  top: 12px;
  background-color: #3b82f6;
  border-radius: 20px;
  cursor: pointer;
}

.moon {
  position: absolute;
  right: 5px;
  top: 7px;
}

.sun {
  position: absolute;
  right: 32px;
  top: 7px;
}

.change-dark-mode {
  background-color: #3b82f6;
  border-radius: 100%;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2px;
  z-index: 2;
}

.chang-dark {
  background-color: #3b82f6;
  border-radius: 100%;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2px;
  z-index: 2;
  left: 2px;
}

.dark {
  background-color: #383636;
}

.dark * {
  color: #ccc !important;
}

.section-top {
  display: flex;
}

/* time && date */

#time,
#date {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
}

#date {
  right: 550px;
}

#time {
  right: 600px;
}

/* HEADER */
.title {
  display: flex;
  justify-content: space-between;
}

.title-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 120px;
}

.login {
  display: flex;
  align-items: center;
}

.icon-login {
  width: 20px;
  margin-left: 5px;
}

/* search Box */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  border: none;
}

.search-bar input {
  padding: 10px 16px;
  width: 390px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: inherit;
}

.search-bar button {
  padding: 10px 16px;
  border: none;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #2b67c9;
}

/* active && dimmed */
.dimmed {
  opacity: 0.3;
  filter: blur(2px) grayscale(70%);
}

.active {
  opacity: 1;
  filter: none;
  border: 3px solid #2196f3;
  box-shadow: 0 0 15px #2196f3;
}

/* icons */
.icon-container {
  display: flex;
  gap: 35px;
  justify-content: center;
  margin: 2rem;
}

.icon {
  width: 35px;
  cursor: pointer;
}

/* button-login */
.button-login {
  margin-left: 2rem;
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 0.5rem;
  background-color: #3b82f6;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 2s ease, color 2s ease;
}

.button-login:hover {
  background-color: #60a5fa;
  transform: scale(1.2);
}

/* navBar */
.nav {
  margin-left: 153px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 96px;
  list-style: none;
}

.nav li a:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.nav li a {
  display: inline-block;
  text-decoration: none;
  color: #0646ad;
  text-decoration: none;
  transition: transform 0.5s ease, text-shadow 0.5s ease;
  transform: scale(1);
  text-shadow: none;
}

/* tooltip for icons */
.tooltip {
  position: fixed;
  color: rgba(3, 60, 153, 0.7);
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 1000;
  transition: opacity 1s ease, transform 1s ease;
  transform: scale(1);
}

/* slider */
.slaider {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
}

.img-slider {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

.slider-item {
  width: 50%;
}

.img-slider {
  width: 100%;
  position: relative;
}

.prev,
.next {
  position: absolute;
  cursor: pointer;
  top: 509px;
}

.next {
  right: 375px;
  width: 37px;
}

.prev {
  width: 37px;
  left: 373px;
}

/* ///////////////////////////////////////////////////////////// */
/* MAIN */
.main {
  max-width: 50%;
  margin: 5rem auto;
}

.flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* اگر کارت‌ها زیاد بودند به سطر بعد بروند */
  justify-content: center;
  /* وسط چین کردن کارت‌ها */
}

.card {
  border-radius: 10px;
  text-align: center;
  padding: 30px 10px;
  cursor: pointer;
  box-sizing: border-box;
  width: 311px;
  height: 192px;
  margin-top: 30px;
}

.card img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.text {
  font-size: 18px;
  color: blue;
  justify-content: center;
  margin-top: 170px;
}

.animal,
.car,
.Architecture,
.Design,
.Portrait,
.sky,
.Technology,
.Places,
.Nature {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.animal {
  background-image: url('./image/gallery/animals/10.jpg');
}

.car {
  background-image: url('./image/gallery/car/10.jpg');
}

.Architecture {
  background-image: url('./image/gallery/Architecture/2.jpeg');
}

.Design {
  background-image: url('./image/gallery/Design/10.jpg');
}

.food {
  background-image: url('./image/gallery/Food&drink/1.jpg');
}

.Portrait {
  background-image: url('./image/gallery/Portrait/10.jpg');
}

.sky {
  background-image: url('./image/gallery/sky/10.jpg');
}

.Technology {
  background-image: url('./image/gallery/Technology/10.webp');
}

.Places {
  background-image: url('./image/gallery/Places/10.jpg');
}

.Nature {
  background-image: url('./image/gallery/Nature/10.jpg');
}

/* modal*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  flex-direction: column;
}

.modal-img {
  width: 450px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.modal-nav {
  margin-top: 20px;
}

#prevBtn,
#nextBtn {
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* footer */

.footer {
  background-color: #3b82f6;
  color: #eee;
  text-align: center;
  padding: 30px 20px;
  font-size: 14px;
  position: relative;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer .socials a {
  margin: 0 8px;
}

.footer .socials img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  transition: transform 0.2s ease;
}

.footer .socials img:hover {
  transform: scale(1.2);
}

.back-to-top {
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-to-top:hover {
  background-color: #666;
}

@media (width > 1400px) {
  body {
    font-size: 40px;
  }

  /* darkmode */
  .dark-mode {
    width: 200px;
    height: 129px;
    margin-right: 110px;
    border-radius: 30%;
  }

  .sun {
    font-size: 74px;
    display: flex;
    left: 0px;
    top: 20px;
    justify-content: flex-end;
  }

  .moon {
    font-size: 74px;
    display: flex;
    justify-content: flex-start;
    right: -6px;
    top: 19px;
  }

  .change-dark-mode {
    width: 116px;
    height: 116px;
    border-radius: 100%;
    background-color: #3b82f6;
    top: 10px;
  }

  /* title & logo */
  .title-logo {
    width: 300px;
    margin-right: 200px;
  }

  .logo {
    width: 300px;
    margin-right: 158px;
  }

  /* button login */
  .button-login {
    width: 200px;
    height: 150px;
    border-radius: 30%;
    font-size: 50px;
    margin-left: 90px;
  }

  .icon-login {
    width: 50px;
  }

  /* time && date */
  #time {
    font-size: 80px;
    right: 1040px;
  }

  #date {
    font-size: 80px;
    right: 882px;
  }

  .time-date {
    margin-bottom: 200px;
  }

  /* search bar */
  .search-bar input {
    width: 850px;
    font-size: 50px;
  }

  .button-search {
    width: 58px;
  }

  /* icons */
  .icon {
    width: 123px;
  }

  /* slider */
  .slider-item {
    width: 80%;
  }

  .slaider {
    height: 800px;
  }

  .prev {
    top: 1223px;
    width: 100px;
    left: 330px;
  }

  .next {
    top: 1223px;
    width: 100px;
    right: 320px;
  }

  /* cards */
  .card {
    width: 630px;
    height: 551px;
    margin-bottom: 30px;
  }

  /* modal */
  .close {
    top: 100px;
    right: 180px;
    font-size: 100px;
  }

  .modal-img {
    width: 1661px;
    height: 1142px;
  }

  #prevBtn,
  #nextBtn {
    font-size: 80px;
  }

  /* label cards */
  .text {
    font-size: 55px;
    margin-top: 500px;
  }

  /* footer */
  .footer {
    font-size: 56px;
  }

  .back-to-top {
    font-size: 42px;
  }

  .footer .socials img {
    width: 80px;
    height: 70px;
  }
}

@media (width <=1400px) {}

@media (width <=1200px) {}

@media (width <=992px) {}

@media (width <=768px) {}

@media (width < 567px) {}